#email
APP_PASSWORD=
MAIL_USERNAME=

#chatbot
#OPENAI_API_KEY=

GEMINI_API_KEY=

# API rate limiter
RATE_LIMIT_INSTANT_CAPACITY=100
RATE_LIMIT_ASYNC_CAPACITY=200
RATE_LIMIT_MANUAL_CAPACITY=300
RATE_LIMIT_WINDOW_SECONDS=60

#whatsapp
TWILIO_ACCOUNT_SID=your-sid
TWILIO_AUTH_TOKEN=your-token
TWILIO_FROM=+1234567890
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886